.a{
    width: 150px;
    height: 150px;
    background-color: red;
    color: white;
    transform: rotate(45deg);
    margin: 0px 50px 0 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.parent{
    margin: 40px;
    display:flex ;
}
.b{
    width: 150px;
    height: 150px;
    background-color: pink;
    color: white;
    transform: rotate(-45deg);
    margin: 0px 50px 0 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.c{
    width: 150px;
    height: 150px;
    background-color: purple;
    color: white;
    transform: rotate(45deg);
    margin: 0px 50px 0 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.d{
    width: 150px;
    height: 150px;
    background-color: blue;
    color: white;
    transform: rotate(-108deg);
    margin: 0px 50px 0 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.e{
    width: 150px;
    height: 150px;
    background-color: green;
    color: white;
    transform: rotate(360deg);
    margin: 0px 50px 0 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.nol{
    display: flex;
    margin: 50px;
}
.man{
    display: flex;
    margin: 70px;
}
.f{
    width: 150px;
    height: 150px;
    background-color: aqua;
    color: white;
    transform: rotate(-720deg);
    margin: 0px 50px 0 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}